<% layout("/layouts/boilerplate") %> 

<div class="container my-5">
  <h1 class="mb-4">Company Details</h1>

  <h4>Company Name:</h4>
  <b><p>WanderHeavn</p></b>

  <h4>Registered Address:</h4>
  <p>New Mansa Devi Nagar (Hadiabad),<br> Phagwara, 144401<br> India</p>

  <h4>Contact Information:</h4>
  <ul>
    <li>Email: wanderheavn@gmail.com</li>
    <li>Phone: +91 7696248538</li>
  </ul>

  <h4>Team / Founders:</h4>
  <ul>
    <li><strong>Keshav Verma</strong></li>
    <li><strong>Sarbjot Singh</strong></li>
  </ul>

  <p class="mt-4"><em>Last updated: April 2025</em></p>
</div>
